html,body {
    width:100%;
    height:95%;
    position: center;
    background: url(9.jpeg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  }
  .container  {
    width:100%;
    height:100%;
    position:center;
  }
  #blurCanvasTop{
    position:center;
  }
  #blurCanvasBottom{
    left:30%;
    top:0;
    position:center;
  }
  .content {
    left:15%;
    top:20%;
    width:70%;
    position:center;
  }
  
  .blur {
    width:100%;
    height:100%;
    position:center;
  }
  .blurTop{
    left:40%;
    top:-110%;
    transform:rotate(20deg);
    transform-origin: 0 100%;
  }
  .blurBottom{
    left:-60%;
    top:100%;
    transform:rotate(20deg);
    transform-origin: 100% 0%;
  }

.awal{
    font-size: 30px;
    color: yellow;
    font-family: Raleway;
}

.ucap{
    font-size: 30px;
    color: black;
    font-family: Raleway;
}

.intro{
    font-size: 30px;
    color: white;
    font-family: forte;
}

.quote{
    font-size: 20px;
    color: white;
    font-family: Raleway;
}

.blockquote-footer{
    font-size: 20px;
    color: white;
    font-family: Raleway;
}

  @media screen and (max-width: 1080px 1920px) {
      .awal{
          font-size: 250%;
      }

      .ucap{
          font-size: 75%;
      }

      .intro{
          font-size: 100%;
      }

      .quote{
        font-size: 30px;
        font-style: bold;
    }

    .blockquote-footer{
        font-size: 30px;
    }
  }
